@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #C8C1D6;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2rem;
}



p {
    flex: 1;
    border-left: 1px solid gainsboro;
    padding: 20px;    

}


input{
    width: 3.5rem;
}

input:checked + p{
    text-decoration:line-through;
    text-decoration-thickness: 2px;
    background-color:whitesmoke;
    
}

.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro ;
}
.item:last-child{
    border-bottom: 0;
}



.ul-container{
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);    
}




