@tailwind base;
@tailwind components;
@tailwind utilities;



body{   
    background-color:#E1D9F4 ;
}




.player:hover .progress_bar_container {
    bottom:1.5rem;
    opacity: 100;
    height: 1rem;
    transition: 0.2s;
}

.player:hover .player_controls{
    visibility: visible;
    transition: 0.2s;
}





.progress {
    background: rgba(0,0,0,0.8);
    cursor:pointer;
    width: 100%;    
}


.progress__filled {
    background: yellowgreen;
    flex: 0;
    flex-basis: 0%;

}