@tailwind base;
@tailwind components;
@tailwind utilities;


/*  
Watched Color
#911009

*/






.player:hover .progress_bar_container {
    bottom:1.5rem;
    opacity: 100;
    height: 1rem;
    transition: 0.2s;
}
.player:hover .player_controls{
    visibility: visible;
    transition: 0.2s;
}





.progress {
    background: rgba(66, 65, 65, 0.8);
    cursor:pointer;
    width: 100%;    
}   


.progress__filled {
    background: #b61108;
    flex: 0;
    flex-basis: 0%;
}

.player_controls{
    background:rgb(59, 58, 58);

}

