@tailwind base;
@tailwind components;
@tailwind utilities;



body{   
    background-color:#E1D9F4 ;
}




.player:hover .progress{
    bottom:2rem;
    opacity: 100;
    
}

.player:hover .player_controls{
    visibility: visible;
    transition: 0.5s;    
}

.player:hover .progress__filled{
    height: 1rem;

}


.progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 0.25rem;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
    bottom: 0;
  }

.progress__filled {
    width: 50%;
    background: #4e8f79;
    flex: 0;
    flex-basis: 0%;

}