@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    /* background-color: #adabb0; */
     background-color: #032e03;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3rem;
    overflow-x: hidden;

    background-image: url('./images/neo-wp.jpg');
    
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;

}

.matrix-border{
  color:#00FF00;
}

.matrix-background{
  background-color: #000C00;
  opacity: 90%;
}

p{
  color : rgb(255, 255, 255);
}
h1{
  color : rgb(255, 255, 255);

}





.align-left {
    float: left;
    margin-right: 20px;
  }

  .align-right {
    float: right;
    margin-left: 20px;
  }

  .slide-in {
    opacity: 0;
    transition: all .5s;
  }

  .align-left.slide-in {
    transform: translateX(-30%) scale(0.95);
  }

  .align-right.slide-in {
    transform: translateX(30%) scale(0.95);
  }

  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }