@import url('variables.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* GLOBALS  */


html{
    background-color:var(--color-background-vue);
    color: var(--color-text-vue-dark-1);

    font-family:var(--font-family-vue);
    line-height: var(--line-height-vue);
    letter-spacing: var(--letter-spacing-vue);
    font-size: var(--font-size-vue-13);
    font-weight: var(--font-weight-vue-500);
    box-sizing: border-box;
    
    text-rendering: var(--text-rendering-vue);  
    -webkit-font-smoothing: var(--webkit-font-smoothing-vue); 


}

.header-container div{
    display: flex;
    align-items: center;
    height: 100%;
}






/* HEADER SECTION --- LEFT */

.header-container{
    border-bottom: 1px solid var(--color-header-border-bottom-dark);
    height: 4.25rem;
}

.header-vue-js-text{
    white-space: nowrap;
    font-weight: 500;
    font-size: var(--font-size-vue-16);
    overflow-wrap: break-word;
    font-synthesis: style;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.svg-search-icon{
    fill: var(--color-search-svg-fill-transparent);
    stroke: var(--color-search-svg-stroke);
    
    
    height: 15px;
    width: 15px;
    stroke-width: 1.5px;

    user-select: none;
    vertical-align:middle;
    cursor: pointer;
}


.header-left-search{    
    color: var(--color-header-search-text);
    font-weight: 600;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
}

.header-container .header-left-ctrl-k{
    color:var(--color-header-ctrl-k);
    border : 1px solid var(--color-header-ctrl-k); 

    font-weight: 600;    
    font-size: 12px;
    
    margin-top: 3px;
    margin-left: 3px;
    height: 40%;
    padding:0px 5px;
    border-radius: 4px;

}


/*ENDREGION */





/* HEADER SECTION --- RIGHT */

.header-right-dropdown{
	fill: var(--color-svg-dropdown-dark);
    stroke: var(--color-search-svg-stroke);


    height: 15px;
    width: 15px;
    stroke-width: 0.1px;
	margin: 2.5px 0px 0px 4px;


}

.header-dropdown-cursor{
    cursor: pointer;
    user-select: none;
}

.header-right-languages{
    height: 17px;
    width: 45px;

}

.header-container .header-right-languages-border{
    border-right: 1px solid var(--color-header-border-bottom-dark);
    border-left: 1px solid var(--color-header-border-bottom-dark); 
    height: 50% ;   
}

.header-right-languages-container{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 8px;
}

/*      ENDREGION       */





/* DAY NIGHT TOGGLE BUTTON */

.header-container .header-right-day-night-toggle-button{
    background-color:var(--color-search-svg-fill-transparent);
    outline:1px solid var(--color-header-border-bottom-dark);


    height: 20px;
    width: 40px;
    border-radius: 0.75rem;


    align-items: flex-start ;
    position: relative;
    

    flex-shrink: 0;
    cursor:pointer;
    overflow: hidden;
}


/*      DAY-NIGHT ICON COMMONS        */
.header-right-day-night-icons{
    height: 20px;
    width: 20px;
    padding: 3.5px;
    stroke-width: 0.00001px;

    border-radius: 20px;
    bottom: 0px;

    overflow: hidden;
    position: absolute;
	cursor: pointer;
    transition: opacity 0.25s ease 0s;
	vertical-align: middle;
}


.day-icon{
    display: none;
	fill: rgb(255, 252, 252);
    background-color:whitesmoke ;
    left: 0px;
}
/*      NIGHT ICON       */
.night-icon{
    display: none;
    fill: var(--svg-fill-vue-light);
    background-color: var(--color-background-vue);
    stroke: #909090;
    right: 0px;
}

.night-icon-toggle{
    display: block;
}
.day-icon-toggle{
    display: block;
}

.light-mode{
    background-color: var(--color-background-vue-light);
    color: var(--text-vue-light-1) ;





}



/*          ENDREGION         */





/* GITHUB X DISCORD SVG */
.header-right-svg-github-x-discord{
    fill: var(--svg-fill-vue-transparent);
    height: 20px;
    width: 20px;

    cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}


.header-right-svg-languages-github{
    fill: var(--svg-fill-vue-transparent);
    height: 18px;
    width: 18px;

    cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}



















/*      DROPDOWN     */

.header-container .header-dropdown{
    position: absolute;
    top: 3.3rem;
    right: 0;
    background-color: #1A1A1A;
	border: 1px solid rgba(84, 84, 84, 0.48);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 2px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.5rem;	
    box-sizing: border-box;

    z-index: 1000;
    overflow: auto;

    padding: 12px 0px;
	min-width: 16rem;
    
    max-height: 85vh;
    overflow-y: auto; 

    height: auto;

    transition: background-color 0.5s ease 0s;
    display: none;
}

/* SCROLLBAR STYLES */
.header-dropdown::-webkit-scrollbar { 
    width: 8px; 
  }
  
  .header-dropdown::-webkit-scrollbar-track {
    background: #2a2a2a; /* Track (background) color */
  }
  
  .header-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--svg-fill-vue-light); /* Thumb (handle) color */
    border-radius: 4px;   /* Optional: Round the corners */
  }

/* SCROLLBAR STYLES END */



/* DROPDOWN  A  */
.header-container .header-dropdown a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    line-height: 2.25rem;
    padding: 0px 20px;
    height: 100%;
}
.header-container .header-dropdown-box-border{
    box-sizing: border-box;
    display:block;
    border-bottom: 1px solid #363636;
    padding: 10px 0px;
}
.header-container .header-dropdown-box-languages{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 7.5px;

}



.header-container .header-dropdown-box-languages:first-child{
    box-sizing: border-box;
    display:flex;
}


.header-dropdown .header-dropdown-box-border:last-child {
    border-bottom: none;
    margin-bottom: -10px;
}
.header-dropdown .header-dropdown-box-border:first-child {
    margin-top: -5px;
}

.header-dropdown .header-dropdown-box-language-hr{
    border-bottom: 1px solid #363636;   
}

.header-container .header-dropdown-box-border p{
    color: rgba(235, 235, 235, 0.38);
    font-weight: var(--font-weight-vue-600);
    font-size: var(--font-size-vue-10);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    height: 100%;
}

.header-container .header-dropdown-box-languages-help-us-translate{
    display: flex ;
    justify-content:left;
    margin-top: 12px;
    margin-left: 15px;

}



/*      LINKS ICON        */
.dropdown-svg-docs{
	fill: rgba(235, 235, 235, 0.38);
    height: 19px;
    width: 19px;
    stroke: #909090;
    stroke-width: 0.0000000001px;
    background-color: var(--color-background-vue);
    

    padding: 4px; 

	cursor: pointer;
}




/*  ENDREGION */