:root {
    /* Color Palette */
    --color-my-cream:#F0E68C;
    --color-my-vanilia-gold:#F3E5AB;
    --color-my-faded-rose:#F2D7D5;
    --color-my-peach-rose:#F4C2C2;
    --color-my-purple:#D1BFF2;
    --color-my-purple2:#decffa;
    --color-my-faded-purple:#C8C1D6;
    --color-my-faded-purple2:#E1D9F4;

    

    /*      DARK MODE / DEFAULT      */
    --color-background-vue:#1A1A1A;
    --color-text-vue-dark-1: rgba(255, 255, 255, 0.87);
    --color-header-border-bottom-dark:#363636;


    --color-search-svg-fill-transparent:transparent;
    --color-search-svg-stroke:#909090;
    --color-header-search-text:#949194;
    --color-header-ctrl-k:#666666;

    

    --color-svg-dropdown-linkIcon-dark:rgba(235, 235, 235, 0.6);
    --color-svg-night-icon:rgba(255, 255, 255, 1);

    --color-svgs-github-x-discord-fill:#979797;
    --color-dropdown-svgs-github-fill:#979797;



    --color-dropdowns-border:rgba(84, 84, 84, 0.48);
    --color-dropdowns-scrollbar-track: #2a2a2a;
    --color-dropdowns-ecosystem-p-titles:rgba(235, 235, 235, 0.38);
    --color-dropdowns-links-icon:rgba(235, 235, 235, 0.38);


    





    /* Typography */
    --font-family-vue:"Inter var experimental", "Inter var", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;




    --line-height-vue:24px;
    --letter-spacing-vue:0.2px;

    --font-size-vue-16:16px;
    --font-size-vue-14:14px;
    --font-size-vue-13:13px;
    --font-size-vue-12:12px;
    --font-size-vue-10:10px;

    --font-weight-vue-300:400;
    --font-weight-vue-400:400;
    --font-weight-vue-500:500;
    --font-weight-vue-600:600;
    --font-weight-vue-700:700;


    --text-rendering-vue:optimizeLegibility;
    --webkit-font-smoothing-vue:antialiased;





    /* Spacing */
    
}