@tailwind base;
@tailwind components;
@tailwind utilities;





.clock-shape{
    border-radius: 50%;
    overflow : hidden;
    border-width: 25px;

    border-color :#E1D9F4;

    
    /* Alternative Colors */
    /* border-color:#C8C1D6;  */
}



/* These classes are all same because they used just for selectors  */

.long-hand{
    transform-origin:100%;
    transform:rotate(deg);
    transition: all 0.5s;
}


.hour-hand{
    transform-origin:100%;
    transform:rotate(deg);
    transition: all 0.5s;
}

.second-hand{
    transform-origin:100%;
    transform:rotate(deg);
    transition: all 0.5s;
}